@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h6 class="display-6">Welcome to, </h6>
    <h1 class="display-1">Student Portal</h1>
    <p>
        This is a CRUD application for a student portal using ASP.NET MVC, Entity
        Framework Core, and SQL Server. Leveraging the .NET 8 MVC template in Visual
        Studio 2022, we're adopting the Model-View-Controller pattern, a renowned
        architecture in software design, especially with ASP.NET. To enhance our website's
        aesthetics, we're incorporating Bootstrap 5 for styling. Through EF Core packages,
        we're implementing a code-first approach to establish our SQL Server databasee</a>.
    </p>
</div>
